<div class="main-sustainability">
  <div class="container">
    <div class="sus-wrap">
      <div class="sus-images">
        <div
          class="sus-image main-sus-image sus-image--active"
          data-id="sus-image--{{ section.id }}-{{ section.settings.image.id }}"
        >
          {% render 'responsive-image', classes: 'sus-image__item', image: section.settings.image, sizes: '1920,4500' %}
        </div>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'menu' %}
              <div
                class="sus-image"
                data-id="sus-image--{{ section.id }}-{{ block.settings.image.id }}"
              >
                {% render 'responsive-image',
                  classes: 'sus-image__item',
                  image: block.settings.image,
                  sizes: '1920,4500'
                %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>

      <div class="sus-content">
        <div class="sus-content-wrap">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'content_section' %}
                <div class="sus-content--item">
                  <div class="sus_tab_title">
                    {{ block.settings.content_title }}
                  </div>
                  <div class="sus_row_wrap two_sus_column flex">
                    <div class="sus_column">
                      {{ block.settings.content_desc }}
                    </div>

                    <div class="sus_column">
                      <div class="cms_img_content">
                        <div class="cms_img_cnt">
                          <img
                            src="{{ block.settings.image | image_url: width: 162 }}"
                            width="162"
                            height="auto"
                            alt=""
                            loading="lazy"
                          >
                        </div>

                        <div class="cms_img_info">
                          <div class="cta">
                            <span>{{ block.settings.image_title }}</span>

                            {{ block.settings.image_desc }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class="sus-menus">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'menu' %}
                <div class="sus-menus--item" data-id="sus-menus--item--{{ section.id }}-{{ block.settings.image.id }}">
                  <span style="margin-bottom: 10px;">{{ block.settings.number }}</span>
                  {{ block.settings.title }}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuItems = document.querySelectorAll(".sus-menus--item");
    const images = document.querySelectorAll(".sus-image");
    const mainImage = document.querySelector(".main-sus-image");

    menuItems.forEach((menuItem) => {
      menuItem.addEventListener("mouseenter", function () {
        const dataId = this.getAttribute("data-id").replace("sus-menus--item--", "sus-image--");

        images.forEach((image) => {
          if (image.getAttribute("data-id") === dataId) {
            image.classList.add("sus-image--active");
          } else {
            image.classList.remove("sus-image--active");
          }
        });
      });

      menuItem.addEventListener("mouseleave", function () {
        images.forEach((image) => image.classList.remove("sus-image--active"));
        mainImage.classList.add("sus-image--active");
      });
    });
  });
</script>

{% schema %}
{
  "name": "Main Sustainability",
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "Number",
          "default": "I"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "title"
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content_section",
      "name": "Content Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Image Title",
          "default": "Image Title"
        },
        {
          "type": "text",
          "id": "image_desc",
          "label": "Image Desc",
          "default": "Image Desc"
        },
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Content Title"
        },
        {
          "type": "text",
          "id": "content_desc",
          "label": "Content Desc",
          "default": "Content Desc"
        },
      ]
    },
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "number",
          "id": "number_section",
          "label": "Link to section"
        },
        {
          "type": "text",
          "id": "content_title",
          "label": "Content Title",
          "default": "Content Title"
        },
        {
          "type": "text",
          "id": "content_desc",
          "label": "Content Desc",
          "default": "Content Desc"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Sustainability"
    }
  ]
}
{% endschema %}
