<div class="custom-container section-{{ section.id }}">
<div class="table-size size-guide-table-wrapper">
  <div class="table-size-heading">
    <p>{{ section.settings.tableTitle }}</p>
  {% if section.settings.switchSize %}
      <div class="table-size-switch">
        <span class="switch-btn active" data-unit="cm">CM</span>
        <span>|</span>
        <span class="switch-btn" data-unit="in">IN</span>
      </div>
    {% endif %}
  </div>
  <table class="table-cm active">
    <tbody>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'row' %}
            <tr>
              <td class="highlighted">{{ block.settings.cmRow1 }}</td>
              <td>{{ block.settings.cmRow2 }}</td>
              <td>{{ block.settings.cmRow3 }}</td>
              {% if section.settings.numberColumn >=4 %}
                <td>{{ block.settings.cmRow4 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=5 %}
                <td>{{ block.settings.cmRow5 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=6 %}
                <td>{{ block.settings.cmRow6 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=7 %}
                <td>{{ block.settings.cmRow7 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=8 %}
                <td>{{ block.settings.cmRow8 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=9 %}
                <td>{{ block.settings.cmRow9 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=10 %}
                <td>{{ block.settings.cmRow10 }}</td>
              {% endif %}
            </tr>
        {% endcase %}
      {% endfor %}
    </tbody>
  </table>
   <table class="table-in">
    <tbody>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'row' %}
            <tr>
              <td class="highlighted">{{ block.settings.inRow1 }}</td>
              <td>{{ block.settings.inRow2 }}</td>
              <td>{{ block.settings.inRow3 }}</td>
               {% if section.settings.numberColumn >=4 %}
                <td>{{ block.settings.inRow4 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=5 %}
                <td>{{ block.settings.inRow5 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=6 %}
                <td>{{ block.settings.inRow6 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=7 %}
                <td>{{ block.settings.inRow7 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=8 %}
                <td>{{ block.settings.inRow8 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=9 %}
                <td>{{ block.settings.inRow9 }}</td>
              {% endif %}
              {% if section.settings.numberColumn >=10 %}
                <td>{{ block.settings.inRow10 }}</td>
              {% endif %}
            </tr>
        {% endcase %}
      {% endfor %}
    </tbody>
  </table>
</div>
  {% if section.settings.description != '' %}
    <div class="table-size-des ">
        <div class="feature-page--subheading">{{ section.settings.description }}</div>
    </div>
  {% endif %} 
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.section-{{ section.id }} .switch-btn');
    const tableCm = document.querySelector('.section-{{ section.id }} .table-cm');
    const tableIn = document.querySelector('.section-{{ section.id }} .table-in');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Remove active class from all buttons
            buttons.forEach(btn => btn.classList.remove('active'));
            // Add active class to clicked button
            button.classList.add('active');

            // Switch tables based on data-unit
            const unit = button.getAttribute('data-unit');
            if (unit === 'cm') {
                tableCm.classList.add('active');
                tableIn.classList.remove('active');
            } else if (unit === 'in') {
                tableIn.classList.add('active');
                tableCm.classList.remove('active');
            }
        });
    });
});
</script>
{% schema %}
{
  "name": "Table size",
  "settings": [
    {
      "type": "range",
      "id": "numberColumn",
      "min": 4,
      "max": 10,
      "step": 1,
      "default": 7,
      "label": "Total Column"
    },
    {
          "type": "text",
          "id": "tableTitle",
          "label": "Table Title",
          "default": "Table Title"
    },
    {
        "type": "checkbox",
        "id": "switchSize",
        "label": "Switch CM/IN",
        "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "cmRow1",
          "label": "Row 1 CM",
          "default": "FELLA"
        },
        {
          "type": "text",
          "id": "inRow1",
          "label": "Row 1 IN",
          "default": "FELLA"
        },
        {
          "type": "text",
          "id": "cmRow2",
          "label": "Row 2 CM",
          "default": "AUS"
        },
        {
          "type": "text",
          "id": "inRow2",
          "label": "Row 2 IN",
          "default": "AUS"
        },
        {
          "type": "text",
          "id": "cmRow3",
          "label": "Row 3 CM",
          "default": "US"
        },
        {
          "type": "text",
          "id": "inRow3",
          "label": "Row 3 IN",
          "default": "US"
        },
        {
          "type": "text",
          "id": "cmRow4",
          "label": "Row 4 CM",
          "default": "UK"
        },
        {
          "type": "text",
          "id": "inRow4",
          "label": "Row 4 IN",
          "default": "UK"
        },
        {
          "type": "text",
          "id": "cmRow5",
          "label": "Row 5 CM",
          "default": "FR/ESP"
        },
        {
          "type": "text",
          "id": "inRow5",
          "label": "Row 5 IN",
          "default": "FR/ESP"
        },
        {
          "type": "text",
          "id": "cmRow6",
          "label": "Row 6 CM",
          "default": "EU"
        },
        {
          "type": "text",
          "id": "inRow6",
          "label": "Row 6 IN",
          "default": "EU"
        },
        {
          "type": "text",
          "id": "cmRow7",
          "label": "Row 7 CM",
          "default": "JP"
        },
        {
          "type": "text",
          "id": "inRow7",
          "label": "Row 7 IN",
          "default": "JP"
        },
        {
          "type": "text",
          "id": "cmRow8",
          "label": "Row 8 CM",
          "default": "CN"
        },
        {
          "type": "text",
          "id": "inRow8",
          "label": "Row 8 IN",
          "default": "CN"
        },
        {
          "type": "text",
          "id": "cmRow9",
          "label": "Row 9 CM",
          "default": "JP"
        },
        {
          "type": "text",
          "id": "inRow9",
          "label": "Row 9 IN",
          "default": "JP"
        },
        {
          "type": "text",
          "id": "cmRow10",
          "label": "Row 10 CM",
          "default": "10"
        },
        {
          "type": "text",
          "id": "inRow10",
          "label": "Row 10 IN",
          "default": "10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table size"
    }
  ]
}
{% endschema %}
